{% extends "base.html" %}

{% block styles %}
<link href="{{url_for('static',filename='discussion topic/discussion_topic.css') }}" rel="stylesheet">
<style>
</style>

{% endblock %}
{% block scripts %}
<script>
</script>
{% endblock %}


{% block title %}discussion topic{% endblock %}


{% block main %}

<div class="album py-5 bg-body-tertiary">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

    {% for discussion_topic_id, discussion_topic_title, user_id, user_email in data %}
      <div class="col">
        <div class="card shadow-sm">
          <svg aria-label="Placeholder: Thumbnail" class="bd-placeholder-img card-img-top" height="225" preserveAspectRatio="xMidYMid slice" role="img" width="100%" xmlns="http://www.w3.org/2000/svg">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#55595c"></rect>
            <text x="50%" y="50%" fill="#eceeef" dy=".3em">{{discussion_topic_title}}</text>
          </svg>
          <div class="card-body">
            <p class="card-text">{{user_email}}</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="/discussion_topic/{{discussion_topic_id}}"><button type="button" class="btn btn-sm btn-outline-secondary">View</button></a>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-body-secondary">9 mins</small>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}

    </div>
  </div>
</div>


<h1>{{topic_title}}</h1>
<p>{{topic_text}}</p>





{% for id_user, user_email, comment_id, comment_text, comment_date in comment_list %}
<div>
    {% if creator %}
    <form method="DELETE" endfor="dell_comment/{{comment_id}}">
        <button>Удалить</button>
    </form>
    {% endif %}
    <p>{{user_email}}</p>
    <p>{{comment_text}}</p>
    <p>{{comment_date}}</p>
</div>
{% endfor %}




<form method="POST">
    <p>Введите комментарий</p>
    <textarea name="text"></textarea>
    <input type="submit" value="Submit">
</form>
{% endblock %}