{% extends "base.html" %}

{% block styles %}
<link href="{{url_for('static', filename='discussion topic/discussion_topic.css') }}" rel="stylesheet">
<style>
</style>

{% endblock %}
{% block scripts %}
<script>
</script>
{% endblock %}


{% block title %}discussion topic{% endblock %}


{% block main %}
{{creator}}<br>
{{data}}<br>
{{topic_title}}<br>
{{topic_text}}<br>

<form method="post">
    <p>Choose comment</p>
    <textarea name="text"></textarea>
    <input type="submit" value="Submit">
</form>

{{all_comment}}

{% endblock %}